header {
    background-color: #1F2933;
}

nav {
    color: white;
    display: flex;
    padding: 10px;
    padding-bottom: 15px;
}

nav h1 {
    text-align: left;
    width: 50%;
}

ul {
    display: flex;
    width: 50%;
}

nav a {
    color: white;
    text-decoration: none;
}

.seperate {
    width: 50%;
    display: flex;
}

main {
    background-color: #33404D;
    color: white;
    min-height: calc(100vh - 50px);
    padding-bottom: 0;
}

.content {
    padding: 20px;
}

.card {
    background-color: #3F4D5A;
    width: 250px;
    height: 200px;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}

.card h3 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #1F2933;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid black;
}

.cards-grid {
    text-align: left;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.dashboard a {
    color: #9AA5B1;
    text-decoration: none;
}