* {
    margin: 0 auto;
    padding: 0;
}

header {
    background-color: #1F2933;
}

nav {
    color: white;
    display: flex;
    padding: 10px;
    padding-bottom: 15px;
}

nav h1 {
    text-align: left;
    width: 50%;
}

ul {
    display: flex;
    width: 50%;
}

nav a {
    color: white;
    text-decoration: none;
}

.seperate {
    width: 50%;
    display: flex;
}

main {
    background-color: #33404D;
    color: white;
    padding-bottom: 90vh;
}

.content {
    padding: 20px;
}