nav {
    background-color: #333;
    color: white;
    padding: 10px;
}

ul {
    display: flex;
}

nav a {
    color: white;
    text-decoration: none;
}

.trademark {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.user-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}